@charset "UTF-8";
.Información-cultural, .form-width, .mesa, .index-header,
.nosotros-header,
.promociones-header,
.contacto-header,
.login-header,
.productos-header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.opinion-1,
.opinion-2,
.opinion-3,
.opinion-4,
.opinion-5,
.opinion-6 {
  flex-basis: calc(50% - 25px);
  background-color: #433878;
  padding: 15px;
  margin: 20px;
  box-shadow: 8px 8px 8px 0 #000000;
  border-radius: 0.8rem;
}

.face-equipo, .face {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
}

/* header todos las pag*/
.index-header,
.nosotros-header,
.promociones-header,
.contacto-header,
.login-header,
.productos-header {
  background-attachment: fixed;
  height: 95vh;
  width: 100%;
}

.index-header {
  background-image: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.7)), url(../img/headerBackground.jpg);
}

.productos-header {
  background-image: linear-gradient(rgba(5, 7, 12, 0.9), rgba(5, 7, 12, 0.4)), url(../img/imgProductos.png);
}

.promociones-header {
  background-image: linear-gradient(rgba(5, 7, 12, 0.9), rgba(5, 7, 12, 0.3)), url(../../img/5f3fd681c924752c5f99c83dd5376192.jpg);
}

.contacto-header {
  background-image: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.7)), url(../../img/1c66fe52ef7e0f2fdc67472d9a78eb4e.jpg);
}

.login-header {
  background-image: linear-gradient(rgba(5, 7, 12, 0.7), rgba(5, 7, 12, 0.5)), url(../../img/f83b7aad49f420abee2367b09c350ec5.jpg);
}

/*nav*/
.navbar {
  z-index: 1000;
  background-color: #ffe1ff;
}

.navbar-collapse ul li a {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}
.navbar-collapse ul li a:hover {
  color: #7e60bf;
}

/*h1, parrafo, botones*/
.index-h1 {
  font-size: 40px;
  margin-top: 5.5rem;
}

.header-contenedor-inferior {
  height: 95vh;
}

.boton-header-inicio,
.btn {
  width: 80%;
  margin: 0 auto 2rem auto;
}

.boton-header-inicio a {
  transition: transform 0.5s;
}
.boton-header-inicio a:hover {
  transform: scale(1.03);
}

/*main*/
.main {
  background-color: #433878;
}

.card-productos {
  background-color: #ffe1ff;
  max-width: 25rem;
  border: 2px solid #000000;
  transition: transform 0.5s;
}
.card-productos:hover {
  transform: scale(1.03);
}

/*popular*/
.popular {
  display: none;
}

.popular h2 {
  color: #ffffff;
  font-size: 35px;
  margin-bottom: 45px;
}

.popular-content img {
  width: 150px;
  margin-right: 1rem;
}

/*Opiniones*/
.starts {
  width: 100px;
}

.opiniones-content {
  margin-top: 35px;
}

.opiniones {
  padding: 5px;
  background-color: #e4b1f0;
}

.opiniones h2 {
  font-size: 35px;
  margin: 2rem;
  line-height: 1;
}

.opinion-1 {
  grid-area: 1/1/4/2;
}

.opinion-2 {
  grid-area: 1/2/2/5;
}

.opinion-3 {
  grid-area: 3/2/4/4;
}

.opinion-4 {
  grid-area: 2/2/3/5;
}

.opinion-5 {
  grid-area: 1/5/3/6;
}

.opinion-6 {
  grid-area: 3/4/4/6;
}

.face {
  border-radius: 50%;
  border: 3px solid #ffe1ff;
  margin: 15px auto;
}

/*fan*/
.section-fan {
  background-color: #7e60bf;
}

.card-anime {
  background-color: #ffe1ff;
  max-width: 25rem;
  border: 1px solid #000000;
  border-radius: 1rem;
  margin: 0 15px;
  transition: transform 0.5s;
}
.card-anime:hover {
  transform: scale(1.03);
}

.anime-contenedor-flex {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*seccion mesa*/
.mesa {
  background-color: #e4b1f0;
  background-image: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65)), url(../img/mesaoriental.jpeg2.jpg);
  background-attachment: fixed;
  height: 100%;
}

.mesa h4 {
  font-size: 2rem;
  padding: 15px;
  margin: 20px;
}

/*footer*/
.footer {
  background-color: #ffe1ff;
}

.logotipo-footer {
  width: 2.5rem;
  height: 40px;
  object-fit: cover;
}

.footer h3 {
  padding: 20px;
  margin: 30px;
}

.footer-links h4 {
  margin-bottom: 25px;
  border-bottom: 2px solid #433878;
}

.footer-links ul li a {
  text-decoration: none;
  margin-bottom: 15px;
  color: #433878;
  transition: all 0.3s ease;
}
.footer-links ul li a:hover {
  color: #e4b1f0;
  padding-left: 6px;
}

/*main contacto/login/form*/
.form-width {
  background-image: url(../img/formbg5.jpg);
  flex-direction: column;
  align-items: center;
}

.input-container {
  position: relative;
}

.input-container > i {
  padding: 14px;
  border-radius: 50%;
  color: #ffffff;
  position: absolute;
  font-size: 20px;
  top: 7px;
  right: 8px;
  background: linear-gradient(#e4b1f0, #000000);
}

.input-container > input {
  padding: 20px 50px 20px 15px;
  width: 100%;
  margin-bottom: 25px;
  border-radius: 35px;
  background-color: transparent;
  border: 2px solid #000000;
  font-size: 17px;
  outline: none;
  color: #000000;
}

.form-width {
  max-width: 400px;
}

.logo-width {
  width: 80px;
}

.btn {
  box-shadow: 8px 8px 8px 0 #000000;
  font-size: 16px;
  width: 100%;
  min-width: 120px;
  box-sizing: border-box;
  background: linear-gradient(#e4b1f0, #000000);
  background-color: #433878;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: rgb(60.3, 50.4, 108);
}

/*main contacto/login/form*/
/*h1 contacto,nosotros,productos,login,promociones*/
.h1-titulo {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  padding-top: 50px;
  margin-top: 50px;
}

/*equipo*/
.section-quienes-somos {
  background-color: #433878;
  height: 100%;
}

.section-nuestra-historia {
  background-color: #7e60bf;
  height: 100%;
}
.section-nuestra-historia .card-body {
  background-color: #ffe1ff;
}
.section-nuestra-historia .list-group-item {
  background-color: #ffe1ff;
}

.section-nuestro-equipo {
  background-color: #e4b1f0;
  height: 100%;
}
.section-nuestro-equipo .card {
  background-color: #433878;
}
.section-nuestro-equipo .card-title {
  color: #e4b1f0;
}
.section-nuestro-equipo .card-text {
  color: #ffffff;
}

.card {
  margin-bottom: 50px;
}

/*main productos*/
.main-productos {
  background-color: #7e60bf;
}

.popular {
  display: none;
}

.popular h2 {
  color: #ffffff;
  font-size: 35px;
  margin-bottom: 45px;
}

.popular-content img {
  width: 150px;
  margin-right: 1rem;
}

.product h2 {
  font-size: 35px;
  margin: 50px auto;
}

.product hr {
  border: 2px solid #ffe1ff;
  width: 100%;
  margin-bottom: 40px;
  opacity: inherit;
}

.box-container-1,
.box-container-2,
.box-container-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}

.box-1,
.box-2,
.box-3 {
  border-radius: 5px;
  display: none;
  background-color: #000000;
}

.box-1:nth-child(1),
.box-1:nth-child(2),
.box-1:nth-child(3),
.box-1:nth-child(4) {
  display: inline-block;
}

.box-2:nth-child(1),
.box-2:nth-child(2),
.box-2:nth-child(3),
.box-2:nth-child(4) {
  display: inline-block;
}

.box-3:nth-child(1),
.box-3:nth-child(2),
.box-3:nth-child(3),
.box-3:nth-child(4) {
  display: inline-block;
}

.btn-2 {
  box-shadow: 8px 8px 8px 0 #000000;
  font-size: 16px;
  text-align: center;
  width: 50%;
  min-width: 120px;
  box-sizing: border-box;
  transition: transform 0.5s;
}
.btn-2:hover {
  color: #000000;
  transform: scale(1.03);
}
.btn-2 {
  background: linear-gradient(#e4b1f0, #000000);
  background-color: #433878;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-2:hover {
  background-color: rgb(60.3, 50.4, 108);
}

.load-more {
  margin-top: 50px;
  margin-bottom: 50px;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 25px;
  border: 2px solid #7e60bf;
  color: #000000;
  font-size: 18px;
  cursor: pointer;
  align-self: flex-end;
  background-color: #ffe1ff;
}

.load-more:hover {
  background-color: #433878;
  color: #ffffff;
}

.product-txt {
  padding: 50px 30px;
  background-color: #e4b1f0;
}

.product-txt-galleta {
  background-color: #7e60bf;
}

.product-txt h3 {
  font-size: 25px;
  color: #433878;
  margin-bottom: 20px;
}

.product-txt p {
  color: #ffffff;
  font-size: 18px;
}

.product-txt a {
  text-decoration: none;
}

.destacados {
  background-color: #433878;
  width: 100%;
}

.section-galleta {
  background-color: #e4b1f0;
}

.promociones-semana {
  background-color: #433878;
}

.promociones-mes {
  background-color: #7e60bf;
}

.Información-cultural {
  background-color: #e4b1f0;
  background-image: linear-gradient(rgba(5, 7, 12, 0.8), rgba(5, 7, 12, 0.7)), url(../../img/img-p-product.jpg);
}

/*@media query*/
@media (min-width: 991px) {
  .opiniones-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  .header-contenedor-inferior {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .productos-contenedor-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: normal;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
  }
  .index-h1 {
    font-size: 50px;
    margin-top: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .popular {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
  }
  .boton-header-inicio {
    width: 75%;
    margin: 0 auto 2rem auto;
    display: flex;
    gap: 5rem;
  }
  .anime-contenedor-flex {
    gap: 2rem;
    margin: 0 auto;
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 991px) {
  .card-productos {
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .popular-content img {
    width: 120px;
    margin: 0 auto;
    padding: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .card-productos {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
/*estilos generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.logo {
  width: 70px;
  margin-bottom: auto;
}

body {
  font-family: "Poppins", sans-serif;
}

/*# sourceMappingURL=style.css.map */
