/*fan*/
.section-fan {
  background-color: $color-cuatro;

  .card-anime {
    background-color: $color-seis;
    max-width: 25rem;
    border: 1px solid $color-dos;
    border-radius: 1rem;
    margin: 0 15px;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.03);
    }
  }
  .anime-contenedor-flex {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
