/*footer*/
.footer {
  background-color: $color-seis;
}
.logotipo-footer {
  width: 2.5rem;
  height: 40px;
  object-fit: cover;
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.03);
  }
}
.footer h3 {
  padding: 20px;
  margin: 30px;
}
.footer-links h4 {
  margin-bottom: 25px;
  border-bottom: 2px solid $color-uno;
}
.footer-links ul li a {
  text-decoration: none;
  margin-bottom: 15px;
  color: $color-uno;
  transition: all 0.3s ease;
  &:hover {
    color: $color-cinco;
    padding-left: 6px;
  }
}
