/*footer*/
.footer {
  background-color: #ffe1ff;
}
.logotipo-footer {
  width: 2.5rem;
  height: 40px;
  object-fit: cover;
}
.footer h3 {
  padding: 20px;
  margin: 30px;
}
.footer-links h4 {
  margin-bottom: 25px;
  border-bottom: 2px solid $color-uno;
}
.footer-links ul li a {
  text-decoration: none;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
