/* header todos las pag*/
.index-header,
.nosotros-header,
.promociones-header,
.contacto-header,
.login-header,
.productos-header {
  background-attachment: fixed;
  height: 95vh;
  width: 100%;
  @extend %backgroundHeader;
}
.index-header {
  background-image: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.7)),
    url(../img/headerBackground.jpg);
}
.productos-header {
  background-image: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.7)),
    url(../img/imgProductos.png);
}
.promociones-header {
  background-image: linear-gradient(rgba(5, 7, 12, 0.9), rgba(5, 7, 12, 0.3)),
    url(../img/imgPromociones.jpg);
}
.nosotros-header {
  background-image: linear-gradient(rgba(5, 7, 12, 0.9), rgba(5, 7, 12, 0.4)),
    url(../../img/fotogrupalequipo.jpg);
}
.contacto-header {
  background-image: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.7)),
    url(../img/imgContacto.jpg);
}
.login-header {
  background-image: linear-gradient(rgba(5, 7, 12, 0.7), rgba(5, 7, 12, 0.5)),
    url(../img/imgLogin.jpg);
}
/*nav*/
.navbar {
  z-index: 1000;
  background-color: $color-seis;
}
.navbar-collapse ul li a {
  @include textStyle($font-size-lg, 600);

  &:hover {
    color: $color-cuatro;
  }
}
/*h1, parrafo, botones*/
.index-h1 {
  font-size: $font-size-xl;
  margin-top: 5.5rem;
}
.header-contenedor-inferior {
  height: 95vh;
}
.boton-header-inicio,
.btn {
  width: 80%;
  margin: 0 auto 2rem auto;
}
.boton-header-inicio a {
  transition: transform 0.5s;

  &:hover {
    transform: scale(1.03);
  }
}
