/*seccion mesa*/
.mesa {
  background-color: #e4b1f0;
  background-image: url(../img/mesaoriental.jpeg2.jpg);
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  @extend %backgroundHeader;
}
.mesa h4 {
  font-size: 2rem;
  padding: 15px;
  margin: 20px;
}
