/*seccion mesa*/
.mesa {
<<<<<<< HEAD
  background-color: #e4b1f0;
  background-image: linear-gradient(rgba(5, 7, 12, 0.65), rgba(5, 7, 12, 0.65)),
    url(../img/mesaoriental.jpeg2.jpg);

  background-position: center center;
  background-repeat: no-repeat;
=======
  background-image: url(../img/mesaoriental.jpeg2.jpg);
  background-attachment: fixed;
>>>>>>> parent of 0e71ee6 (probando paletas de colores y commitear seguido)
  height: 100%;
}
.mesa h4 {
  font-size: 2rem;
  padding: 15px;
  margin: 20px;
}
