/*main productos,h1,video,destacados,animacion*/
.main-productos {
  background-color: $color-cuatro;
}
.productos-h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include flex(flex, column, center);
  h1 {
    color: $color-tres;
    font-size: 3.5rem;
    letter-spacing: -2px;
    margin-bottom: 200px;
  }
}
.video-2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.destacados-2 {
  position: relative;
  width: 60%;
  margin: auto;
  @include flex(flex, column, center);
}
.caja {
  margin: auto;
  padding: 30px 30px;
  width: 100%;
  height: 150px;
  border: 1px solid $color-tres;
  animation: change-color 5s infinite linear normal;
  @include flex(flex, column, center);
}
.caja:hover {
  animation-play-state: paused;
}
@keyframes change-color {
  0% {
    background: $color-uno;
  }
  20% {
    background: $color-cuatro;
  }
  40% {
    background: $color-cinco;
  }
  60% {
    background: $color-seis;
  }
  80% {
    background: $color-cinco;
  }
  100% {
    background: $color-cuatro;
  }
}
/*popular*/
.popular {
  display: none;

  h2 {
    color: $color-tres;
    font-size: 35px;
    margin-bottom: 45px;
  }
}
.popular-content img {
  width: 150px;
  margin-right: 1rem;
}
/*productos almacen, bebidas, snack y dulces*/
.h2 {
  font-size: $font-size-xl;
  margin: 50px auto;
  color: $color-seis;
}
.hr {
  border: 2px solid $color-uno;
  width: 100%;
  margin-bottom: 40px;
  opacity: inherit;
}

.caja-contenedor-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
}
.box-1,
.box-2,
.box-3 {
  border-radius: 5px;
  display: none;
}
.box-1:nth-child(1),
.box-1:nth-child(2),
.box-1:nth-child(3),
.box-1:nth-child(4) {
  display: inline-block;
}
.box-2:nth-child(1),
.box-2:nth-child(2),
.box-2:nth-child(3),
.box-2:nth-child(4) {
  display: inline-block;
}
.box-3:nth-child(1),
.box-3:nth-child(2),
.box-3:nth-child(3),
.box-3:nth-child(4) {
  display: inline-block;
}
.btn-2 {
  box-shadow: $shadow-base;
  font-size: $font-size-base;
  text-align: center;
  width: 50%;
  min-width: 120px;
  box-sizing: border-box;
  transition: transform 0.5s;

  &:hover {
    color: $color-dos;
    transform: scale(1.03);
  }

  @include backgroundLinear($color-cinco, $color-dos);
  @include buttonStyle($color-uno, $color-tres, $radius-md);
}
/*botones load more*/
.load-more {
  margin-top: 50px;
  margin-bottom: 50px;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 25px;
  border: 2px solid $color-cuatro;
  color: $color-dos;
  font-size: $font-size-lg;
  cursor: pointer;
  align-self: flex-end;
  background-color: $color-seis;
}
.load-more:hover {
  background-color: $color-uno;
  color: $color-tres;
}
.product-txt {
  padding: 50px 30px;
  background-color: $color-cinco;
  h3 {
    font-size: 25px;
    color: $color-uno;
    margin-bottom: 20px;
  }
  p {
    color: $color-tres;
    font-size: $font-size-lg;
  }
  a {
    text-decoration: none;
  }
}
.destacados {
  background-color: $color-uno;
  width: 100%;
}
.section-galleta {
  background-color: $color-cinco;
}
.card-galleta {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: $color-seis;
  max-width: 25rem;
  border: 1px solid $color-dos;
}

.product-txt-galleta {
  background-color: $color-cuatro;
  a {
    text-decoration: none;
  }
}
