.promociones-semana {
  background-color: $color-uno;
}
.promociones-mes {
  background-color: $color-cuatro;
}
.Información-cultural {
  background-color: $color-cinco;
  background-image: linear-gradient(rgba(5, 7, 12, 0.8), rgba(5, 7, 12, 0.7)), url(../../img/imgTradicion.jpg);
  @extend %backgroundHeader;
}
.promociones-h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caja {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 30px 30px;
  width: 100%;
  height: 200px;
  border: 4px solid #ffff;
  animation:
    change-color 5s infinite linear normal,
    move-caja 5s infinite linear normal 5s;
}
.caja:hover {
  animation-play-state: paused;
}
@keyframes change-color {
  0% {
    background: $color-uno;
  }
  25% {
    background: $color-cuatro;
  }
  50% {
    background: $color-cinco;
  }
  100% {
    background: $color-seis;
  }
}
