.promociones-semana {
  background-color: $color-uno;
}
.promociones-mes {
  background-color: $color-cuatro;
}
.Información-cultural {
  background-color: $color-cinco;
  background-image: linear-gradient(rgba(5, 7, 12, 0.8), rgba(5, 7, 12, 0.7)),
    url(../../img/imgTradicion.jpg);
  @extend %backgroundHeader;
}
